[submodule "submodules/uhdl"]
	path = submodules/uhdl
	url = https://github.com/YuunqiLiu/uhdl.git
[submodule "addressplanner/uhdl"]
	path = addressplanner/uhdl
	url = https://github.com/YuunqiLiu/uhdl.git
