@libnz4w_r.so rc file Version 1.0
[oh]
invokeDir = /home/liuyunqi/huangtao/address_planner/dv
hostCommand = -usevlogan_front -lib simv.daidir/work -2012 -enable_vfs_mp -enable_vfs_mt -flush_textdoc_sdb -enable_vfs_lock -incsave
simType = VCS
