{%- macro space_define(space) -%}
{%- if head_type == 'c' -%}
    {%- set def_prefix = '#' -%}
{%- else -%}
    {%- set def_prefix = '`' -%}
{%- endif -%}
{{def_prefix}}ifndef     ADDR_{{space.module_name.upper()}}
    {{def_prefix}}define {{ '%-45s' % 'ADDR_%s' % space.module_name.upper()}} {{builtins.hex((space.start_address/8)|int)}}
    {{def_prefix}}define {{ '%-45s' % 'SIZE_%s' % space.module_name.upper()}} {{builtins.hex(space.size)}}
    {{def_prefix}}define {{ '%-45s' % 'OFFSET_%s' % space.module_name.upper()}} {{builtins.hex(space.offset)}}
{{def_prefix}}endif
{%- endmacro -%}

//==========================================================
// Definition of address space {{space.global_name.upper()}}
//==========================================================

//==========================================================
// Sub address space definition of {{space.global_name.upper()}}
//==========================================================
{% for ss in space.sorted_subspace_list %}
{{space_define(ss)}}
{% endfor %}