<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"> 
        <title>{{space.module_name}} - {{space.global_name}}</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>

    {% block self %}
    {% endblock%}

    {% block sub_list %}
    {% endblock%}

    </body>
</html>