block {{space.module_name}} {
    bytes {{(space.size/8)|int}};
    {% for ss in space.sub_space_list -%}
    register {{ss.module_name}} @{{ss.hex_offset}} {
        bytes {{(ss.bit/8)|int}};
        {% for field in ss.field_list -%}
        {% if field.is_external -%}
        field {{field.name}} @{{field.bit_offset}} {
            bits {{field.bit|int}};
            access {{field.sw_access.value|lower}};
            reset {{field.init_value|int}};
        }
        {%- else -%}
        field {{field.name}} ({{wrapper_inst}}{{ss.module_name}}_{{field.name}}) @{{field.bit_offset}} {
            bits {{field.bit|int}};
            access {{field.sw_access.value|lower}};
            reset {{field.init_value|int}};
        }
        {%- endif %}
        {% endfor %}
    }
    {% endfor %}
}
