`define BASE_ADDR_{{space.module_name | upper()}}   {{space.hex_offset}}
{% for ss in space.sub_space_list -%}
`define UVM_{{ss.module_name | upper()}}   `BASE_ADDR_{{space.module_name | upper()}}+{{ss.hex_offset}}
{% endfor -%}




