@elabcom rc file Version 1.0
[oh]
invokeDir = /home/liuyunqi/huangtao/ap/dv
hostCommand = -lib simv.daidir/work -elab simv.daidir/kdb -simflow -top "tb_top " -Lf work -SNPS_ELABCOM -saveElab
simType = VCS
