+incdir+${PRJ_ROOT}/dv/ral
+incdir+${PRJ_ROOT}/dv/tc
+incdir+${PRJ_ROOT}/dv/dv_env/uvc/yuu_amba/include
+incdir+${PRJ_ROOT}/dv/dv_env/uvc/yuu_amba/src/sv
+incdir+${PRJ_ROOT}/dv/dv_env/uvc/yuu_common/src/sv
+incdir+${PRJ_ROOT}/dv/dv_env/uvc/yuu_apb/src/sv/yuu_apb_common
+incdir+${PRJ_ROOT}/dv/dv_env/uvc/yuu_apb/src/sv/yuu_apb_master
+incdir+${PRJ_ROOT}/dv/dv_env/uvc/yuu_apb/src/sv/yuu_apb_slave
+incdir+${PRJ_ROOT}/dv/dv_env/uvc/yuu_apb/src/sv/yuu_apb_env
+incdir+${PRJ_ROOT}/dv/dv_env/uvc/yuu_apb/include
${PRJ_ROOT}/dv/dv_env/uvc/yuu_common/include/yuu_common_pkg.sv
${PRJ_ROOT}/dv/dv_env/uvc/yuu_amba/include/yuu_amba_pkg.sv
${PRJ_ROOT}/dv/dv_env/uvc/yuu_apb/include/yuu_apb_pkg.sv
${PRJ_ROOT}/rtl/RegSpaceBase_cfg_{{space.module_name}}/RegSpaceBase_cfg_{{space.module_name}}.v
${PRJ_ROOT}/dv/tb.sv
